doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title game
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/clueless.css", rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  body
    h1 The Game Page
    p.
      This is the 'game' page
    div.container
      #game
        table#board
          tr
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            
        #game-over.modal.fade(role="dialog")
          .modal-dialog
            .modal-content
              .modal-body.text-center
                h2."Somebody won!"
              .modal-footer
                button.btn.btn-primary(href="/") Back to home