doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title home
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/clueless.css", rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  body
    #banner.jumbotron
      .container
        h1 Clue-Less
    .container
      .row
        .col-sm-4
          h2 Start a new game
          form#startForm(action="/start", method="POST", role="form")
            .form-group
              label Choose a character
              div
                .btn-group(data-toggle="buttons")
                  label.btn.btn-default.active
                    input(type="radio", name="player-color", value="red", checked="checked")
                    | Red
                  label.btn.btn-default
                    input(type="radio", name="player-color", value="yellow")
                    | Yellow
                  label.btn.btn-default
                    input(type="radio", name="player-color", value="white")
                    | White
                  label.btn.btn-default
                    input(type="radio", name="player-color", value="green")
                    | Green
                  label.btn.btn-default
                    input(type="radio", name="player-color", value="blue")
                    | Blue
                  label.btn.btn-default
                    input(type="radio", name="player-color", value="purple")
                    | Purple
            .form-group
              label(for="playerName") Name
              input#playerName.form-control(type="text", name="player-name")
            button.btn.btn-primary(type="submit") Start Game!
        .col-sm-4
        .col-sm-4
          h2 Join an existing game
          form#startForm(action="/start", method="POST", role="form")
            .form-group
              label Choose a character
              div
                .btn-group(data-toggle="buttons")
                  label.btn.btn-default.active
                    input(type="radio", name="player-color", value="red", checked="checked")
                    | Red
                  label.btn.btn-default
                    input(type="radio", name="player-color", value="yellow")
                    | Yellow
                  label.btn.btn-default
                    input(type="radio", name="player-color", value="white")
                    | White
                  label.btn.btn-default
                    input(type="radio", name="player-color", value="green")
                    | Green
                  label.btn.btn-default
                    input(type="radio", name="player-color", value="blue")
                    | Blue
                  label.btn.btn-default
                    input(type="radio", name="player-color", value="purple")
                    | Purple
            .form-group
              label(for="playerName") Name
              input#playerName.form-control(type="text", name="player-name")
            .form-group
              label(for="gameID") Game ID
              input#gameID.form-control(type="text", name="game-id")
            button.btn.btn-primary(type="submit") Join Game!